@charset "UTF-8";
/* CSS Document */

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #F6070B;
}
a:active {
	text-decoration: none;
	color: #000000;
}